@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }
  
  #nav-bar {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0rem 3rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
  }
  
  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #cc0000;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
  }