@media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }
  
  #navbar {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0rem 3rem;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100vw;
  }